<div class="comment_edit_form">
<%= form_with(model: memo, remote: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: "memo_description_#{memo.id}" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <%= link_to :back do %>
    戻る
  <% end %>
<% end %>